/* ROBOTO */

@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    src: 
         url("./fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: 400;
    src: 
         url("./fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

/* SIGNiKA SC */

@font-face {
    font-family: "Signika";
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Signika-SC/SignikaSC.ttf') format('truetype');
}

/* RALEWAY */

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}